#areaSysTroco {
    margin: 20px;
    background-color: rgb(245, 215, 215);
    border-radius: 10px;
}

#areaTitulo {
    padding: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#areaValorTotal, #areaValorRecebido {
    padding: 20px;
    align-items: center;
}

#areaTroco {
    align-items: center;
}

#areaValorTroco {
    text-align: center;
}

#alertaValor {
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    color:red;
}

.col {
    text-align: center;
}

input {
    border: transparent;
    text-align: center;
    width: 215px;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}